/*
font-family: 'Averia Serif Libre', cursive;     //font1 
font-family: 'Freehand', cursive;               //font2 
font-family: 'Source Sans Pro', sans-serif;     //font3 */
*/

* {
box-sizing: border-box;
margin: 0;
padding: 0;
}

html {
    height: 100%;
}


.entrar {
    font-family: 'Freehand', cursive;
    font-size: 2.5rem;
    text-align: center;
    text-shadow: 2px 2px 2px rgb(198, 198, 109);    
}
.info {
    font-family: 'Averia Serif Libre', cursive;
    font-size: 1.5rem;
    text-align: center;
    text-shadow: 1px 1px 2px rgb(198, 198, 109);
}

body{
    background-color: rgb(21, 54, 122);
    color: black;;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.2rem;
    min-height: 100%;
}


.grid-container > * {
    box-shadow: -1px 1px 7px 0px rgb(0, 0, 0,0.7);
    border-radius: 8px;
    padding: 10px;
    text-align: center;
}

.entrar {
    grid-area: entrar;
}

.header {
    grid-area: header;
    background-color: #85aedd;
    ;
}
.navbar {
    grid-area: navbar;
    background-color: #afd6af;
}
.sidebar {
    grid-area: sidebar;
    background-color: #fdcfcf;
}
.main {
    grid-area: main;
    background-color: #c76060;
}
.footer {
    grid-area: footer;
    background-color: #85aedd;
}


.grid-container {
    display: grid;
    gap: 10px;
    grid-template:
        "entrar"    100px
        "header"    100px
        "navbar"    50px
        "main"      auto
        "sidebar"   100px
        "footer"    100px
        "info"      100px;
}

@media (min-width: 600px) {
    .grid-container {
        /*
        grid-template-columns: 200px auto;
        grid-template-rows: 100px 50px auto 100px;
    grid-template-areas: 
        "header header"
        "navbar navbar"
        "sidebar main"
        "footer footer";
        */

        grid-template: 
        "info       entrar"     100px
        "header     header"     100px
        "navbar     navbar"     50px
        "sidebar    main"       auto
        "footer     footer"     100px /
        200px       auto;
    }
}

@media (min-width: 900px) {
    .grid-container {
        grid-template: 
        "info       entrar  entrar"     100px
        "header     header  header"     100px
        "navbar     main    sidebar"    auto
        "footer     footer  footer"     100px /
        200px       auto    200px;
    }
}

/* + + + + + + + + TECLADO DEL PIANO + + + + + + + + + + + + + + + + + + + + + + + + */
* { box-sizing:border-box; }
 
body{ margin:0; background:#222; }
ul {
    height:18.875em; width:34em;
  margin:5em auto; padding:3em 0 0 3em; position:relative; 
  border:1px solid #160801; border-radius:1em; 
  background:-webkit-gradient(linear, right bottom, left top, color-stop(0%,rgba(0,0,0,0.3)), color-stop(100%,rgba(0,0,0,0))), url('https://f.cl.ly/items/2q1f3t0C3R1b0g081w3n/vwood.png');
box-shadow:0 0 50px rgba(0,0,0,0.5) inset, 0 1px rgba(212,152,125,0.2) inset,0 5px 15px rgba(0,0,0,0.5); }
li { margin:0; padding:0; list-style:none; position:relative; float:left; }
 
ul .white {
    height:16em; width:4em; z-index:1;
    border-left:1px solid #bbb;
    border-bottom:1px solid #bbb;
    border-radius:0 0 5px 5px;
    box-shadow:-1px 0 0 rgba(255,255,255,0.8) inset, 0 0 5px #ccc inset, 0 0 3px rgba(0,0,0,0.2);
    background: linear-gradient(top, #eee 0%,#fff 100%);
}
 
ul .white:active {
    border-top:1px solid #777;
    border-left:1px solid #999;
    border-bottom:1px solid #999;
    box-shadow:2px 0 3px rgba(0,0,0,0.1) inset, -5px 5px 20px rgba(0,0,0,0.2) inset,0 0 3px rgba(0,0,0,0.2);
    background: linear-gradient(top, #fff 0%,#e9e9e9 100%);
}
 
.black {
    height:8em; width:2em; margin:0 0 0 -1em; z-index:2;
    border:1px solid #000;
    border-radius:0 0 3px 3px;
    box-shadow:-1px -1px 2px rgba(255,255,255,0.2) inset, 0 -5px 2px 3px rgba(0,0,0,0.6) inset, 0 2px 4px rgba(0,0,0,0.5);
    background:linear-gradient(45deg, #222 0%,#555 100%);
}
 
.black:active {
    box-shadow:-1px -1px 2px rgba(255,255,255,0.2) inset, 0 -2px 2px 3px rgba(0,0,0,0.6) inset, 0 1px 2px rgba(0,0,0,0.5);
    background:linear-gradient(left, #444 0%,#222 100%);
}
 
.a,.g,.f,.d,.c { margin:0 0 0 -1em;  }
 
ul li:first-child { border-radius:5px 0 5px 5px; }
ul li:last-child { border-radius:0 5px 5px 5px; }
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - FIN - TECLADO DEL PIANO */
